
# BASIC INCLUDES
include setup.py
include BAMqc
incldue README.rst

# DOC INCLUDES
include doc/CONTACTS
include doc/COPYING 
include doc/INSTALL
include doc/THANKS

# SRC BAMQC INCLUDES
include src/bamqc/Constants.h
include src/bamqc/Coverage_prof.cpp
include src/bamqc/Coverage_prof.h
include src/bamqc/GeneFeatures.cpp
include src/bamqc/GeneFeatures.h
include src/bamqc/InnerDist_prof.cpp
include src/bamqc/InnerDist_prof.h
include src/bamqc/IntervalTree.cpp
include src/bamqc/IntervalTree.h
include src/bamqc/Mappability.cpp
include src/bamqc/Mappability.h
include src/bamqc/parseBAM.cpp
include src/bamqc/parseBAM.h
include src/bamqc/ReadDup_prof.cpp
include src/bamqc/ReadDup_prof.h
include src/bamqc/Results.cpp
include src/bamqc/Results.h
include src/bamqc/rRNA.cpp
include src/bamqc/rRNA.h

# SRC HTSLIB INCLUDES
include src/htslib/bgzf.c
include src/htslib/bgzip.c
include src/htslib/config.mk.in
include src/htslib/configure
include src/htslib/configure.ac
include src/htslib/faidx.5
include src/htslib/faidx.c
include src/htslib/hfile.c
include src/htslib/hfile_internal.h
include src/htslib/hfile_irods.c
include src/htslib/hfile_net.c
include src/htslib/hts.c
include src/htslib/htsfile.1
include src/htslib/htsfile.c
include src/htslib/htslib.mk
include src/htslib/htslib.pc.in
include src/htslib/htslib_vars.mk
include src/htslib/INSTALL
include src/htslib/kfunc.c
include src/htslib/knetfile.c
include src/htslib/kstring.c
include src/htslib/libhts.a
include src/htslib/LICENSE
include src/htslib/Makefile
include src/htslib/NEWS
include src/htslib/README
include src/htslib/regidx.c
include src/htslib/sam.5
include src/htslib/sam.c
include src/htslib/synced_bcf_reader.c
include src/htslib/tabix.1
include src/htslib/tabix.c
include src/htslib/tbx.c
include src/htslib/test
include src/htslib/vcf.5
include src/htslib/vcf.c
include src/htslib/vcf_sweep.c
include src/htslib/vcfutils.c
include src/htslib/version.h

#SRC HTSLIB HEADER INCLUDES
include src/htslib/htslib/bgzf.h
include src/htslib/htslib/faidx.h
include src/htslib/htslib/hfile.h
include src/htslib/htslib/hts_defs.h
include src/htslib/htslib/hts.h
include src/htslib/htslib/kfunc.h
include src/htslib/htslib/khash.h
include src/htslib/htslib/khash_str2int.h
include src/htslib/htslib/klist.h
include src/htslib/htslib/knetfile.h
include src/htslib/htslib/kseq.h
include src/htslib/htslib/ksort.h
include src/htslib/htslib/kstring.h
include src/htslib/htslib/regidx.h
include src/htslib/htslib/sam.h
include src/htslib/htslib/synced_bcf_reader.h
include src/htslib/htslib/tbx.h
include src/htslib/htslib/vcf.h
include src/htslib/htslib/vcf_sweep.h
include src/htslib/htslib/vcfutils.h

#SRC HTSLIB CRAM INCLUDES
include src/htslib/cram/cram_codecs.c
include src/htslib/cram/cram_codecs.h
include src/htslib/cram/cram_decode.c
include src/htslib/cram/cram_decode.h
include src/htslib/cram/cram_encode.c
include src/htslib/cram/cram_encode.h
include src/htslib/cram/cram.h
include src/htslib/cram/cram_index.c
include src/htslib/cram/cram_index.h
include src/htslib/cram/cram_io.c
include src/htslib/cram/cram_io.h
include src/htslib/cram/cram_samtools.c
include src/htslib/cram/cram_samtools.h
include src/htslib/cram/cram_stats.c
include src/htslib/cram/cram_stats.h
include src/htslib/cram/cram_structs.h
include src/htslib/cram/files.c
include src/htslib/cram/md5.c
include src/htslib/cram/md5.h
include src/htslib/cram/mFILE.c
include src/htslib/cram/mFILE.h
include src/htslib/cram/misc.h
include src/htslib/cram/open_trace_file.c
include src/htslib/cram/open_trace_file.h
include src/htslib/cram/os.h
include src/htslib/cram/pooled_alloc.c
include src/htslib/cram/pooled_alloc.h
include src/htslib/cram/rANS_byte.h
include src/htslib/cram/rANS_static.c
include src/htslib/cram/rANS_static.h
include src/htslib/cram/sam_header.c
include src/htslib/cram/sam_header.h
include src/htslib/cram/string_alloc.c
include src/htslib/cram/string_alloc.h
include src/htslib/cram/thread_pool.c
include src/htslib/cram/thread_pool.h
include src/htslib/cram/vlen.c
include src/htslib/cram/vlen.h
include src/htslib/cram/zfio.c
include src/htslib/cram/zfio.h
