
# BASIC INCLUDES
include setup.py
include BAMqc
incldue README.rst

# DOC INCLUDES
include doc/*

# SRC BAMQC INCLUDES
include src/bamqc/*

# SRC HTSLIB INCLUDES
include src/htslib/*

#SRC HTSLIB HEADER INCLUDES
include src/htslib/htslib/*

#SRC HTSLIB CRAM INCLUDES
include src/htslib/cram/*
