
# BASIC INCLUDES
include setup.py
include BAMqc
incldue README.rst

# DOC INCLUDES
include doc/CONTACTS
include doc/COPYING 
include doc/INSTALL
include doc/THANKS

# SRC INCLUDES
include src/Constants.h
include src/Coverage_prof.cpp
include src/Coverage_prof.h
include src/GeneFeatures.cpp
include src/GeneFeatures.h
include src/InnerDist_prof.cpp
include src/InnerDist_prof.h
include src/IntervalTree.cpp
include src/IntervalTree.h
include src/Mappability.cpp
include src/Mappability.h
include src/parseBAM.cpp
include src/parseBAM.h
include src/ReadDup_prof.cpp
include src/ReadDup_prof.h
include src/Results.cpp
include src/Results.h
include src/rRNA.cpp
include src/rRNA.h
